[submodule "DoubleVectorNd"]
	path = DoubleVectorNd
	url = https://github.com/apmcollab/SCC-DoubleVectorNd.git
[submodule "SparseOp"]
	path = SparseOp
	url = https://github.com/apmcollab/SparseOp.git
[submodule "GridFunctionNd"]
	path = GridFunctionNd
	url = https://github.com/apmcollab/SCC-GridFunctionNd.git
[submodule "Timing"]
	path = Timing
	url = https://github.com/apmcollab/SCC-Timing.git
[submodule "RandOpNd"]
	path = RandOpNd
	url = https://github.com/apmcollab/SCC-RandOpNd.git
[submodule "FFTW3_InterfaceNd"]
	path = FFTW3_InterfaceNd
	url = https://github.com/apmcollab/SCC-FFTW3_InterfaceNd.git
